body {
    color: azure;
    background-color: black;
}

.Header {
    color: black;
    background-color: azure;
}

.Content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    margin-top: 50px;
    color: black;
    background-color: azure;
    border-style: dashed;
    border-radius: 2%;
    border-color: blue;
    justify-items: center;
}

.Footer {
    justify-content: center;
    align-items: center;
    color: black;
    background-color: azure;
}

#mainP {
    width: 40%;
}

#mainI {
    width: 30%;
    align-items: end;
}